<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <system.webServer>

        <!-- Default Document -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>

        <!-- PHP Handler -->
        <handlers>

            <remove name="PHP_via_FastCGI" />

            <add name="PHP_via_FastCGI"
                 path="*.php"
                 verb="*"
                 modules="FastCgiModule"
                 scriptProcessor="D:\php-8.4.14-Win32-vs17-x64\php-cgi.exe"
                 resourceType="Either"
                 requireAccess="Script"/>

        </handlers>

        <!-- URL Rewrite -->
        <rewrite>

            <rules>

                <rule name="SRS Router" stopProcessing="true">

                    <match url=".*" />

                    <conditions logicalGrouping="MatchAll">

                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />

                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />

                    </conditions>

                    <action type="Rewrite" url="index.php" />

                </rule>

            </rules>

            <!-- Custom Error Pages -->



        </rewrite>

        <!-- Hide Sensitive Files -->
        <security>

            <requestFiltering>

                <hiddenSegments>

                    <add segment="config" />
                    <add segment="core" />
                    <add segment="database" />

                </hiddenSegments>

            </requestFiltering>

        </security>

        <!-- Security Headers -->
        <httpProtocol>

            <customHeaders>

                <add name="X-Frame-Options" value="SAMEORIGIN"/>

                <add name="X-Content-Type-Options" value="nosniff"/>

                <add name="Referrer-Policy" value="strict-origin-when-cross-origin"/>

                <add name="X-XSS-Protection" value="1; mode=block"/>

            </customHeaders>

        </httpProtocol>
<!-- Disable Directory Browsing -->
<directoryBrowse enabled="false" />

<!-- Allow Static Files -->
<staticContent>

    <remove fileExtension=".webp" />
    <mimeMap fileExtension=".webp" mimeType="image/webp" />

</staticContent>
    </system.webServer>

</configuration>